
<thead>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&display=swap" rel="stylesheet">
</thead>
<div class="grid text-center ">
    <h1 class="title">Bienvenid@ a Línea de denuncia</h1>
</div>
<br>
<div class="body"><table><td>
<app-modal-registro></app-modal-registro></td>
<td> <app-modal-seguimiento></app-modal-seguimiento></td>
</table></div>


            
